# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock*
*.tfvars

# logs
*.log

# JSON files (likely credentials)
*.json

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/